.form-last {
	&__field {
		display: block;
		width: 500px;
		height: 50px;
		padding: 15px 13px;
		background: #77d9d8;
		color: #fff;
		font: 300 15px Raleway, sans-serif;
		opacity: 0.5;
		margin-bottom: 15px;
		border-left-width: 5px;
		border-style: solid;
		border-color: transparent;

		&--textarea {
			height: 250px;
			margin-bottom: 0;
			resize: none;
		}

		&:focus {
			background: #00c4c4;
			font-weight: 700;
			border-color: #355b82;
		}

		&::placeholder {
			color: #fff;
			font-size: 15px;
		}
	}
}