.gallery {
	background: #ffe92f;
	text-align: center;
	padding: 85px 0 120px;

	&__title {
		margin-bottom: 20px;
	}

	&__text {
		margin-bottom: 43px;
	}

	&__pictures--margin {
		margin-bottom: 30px;
	}

	&__pictures--margin-last {
		margin-bottom: 50px;
	}

	&__picture,
	&__link {
		display: block;
	}

	&__picture {
		box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);

		&:hover {
			opacity: 0.9;
		}

		&--margin {
			margin-bottom: 30px;
		}
	}

	&__button {
		background: #5585a2;

		&:hover {
			background: #262626;
		}
	}
}