.header {
	background: #f9f8fb url(../images/header.jpg) top no-repeat;
	height: 100vh;
	position: relative;

	&__menu {
		padding: 30px 0;
	}

	&__content {
		padding-top: 200px;
	}

	&__title {
		font-size: 60px;
		font-weight: 800;
		margin-bottom: 25px;
	}

	&__text {
		margin-bottom: 28px;
	}

	&__button {
		width: 200px;
		height: 55px;
		background: #ff6033;
		color: #fff;
		line-height: 55px;
		text-align: center;
		box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
		cursor: pointer;

		&:hover {
			background: #d73354;
		}
	}

	&__scroll {
		font-size: 90px;
		position: absolute;
		bottom: 15px;
		left: 50%;
		transform: translateX(-50%);
		cursor: pointer;
		color: $color-text;

		&:hover {
			color: #ff6033;
		}
	}
}


