.services {
	background: #70bfff url(../images/tomato.png) 72% 50% no-repeat;
	padding: 180px 0;

	&__button {
		width: 400px;
		height: 100px;
		background: #fff;
		margin-bottom: 20px;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);

		&--margin {
			margin-bottom: 0;
		}
	}
	
	&__link {
		display: flex;
		height: 100%;	
		color: #262626;
		text-decoration: none;
		text-align: center;
		transition: color .1s linear;

		&:hover {
			color: #ff6033;
		}
	}

	&__button-text {
		width: 75%;
		font-size: 20px;
		font-weight: 700;
		padding: 38px 0;

		&--padding {
			padding: 24px 0;
			line-height: 1.35;
		}
	}	

	&__icon {
		width: 25%;
		padding: 23px 0;
		border-left: 1px;
		border-color: #9d9d9d;
		border-style: solid;
		font-size: 53px;
	}

	&__title {
		padding: 135px 0;
		color: #fff;
	}
}
